.confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
.confirm > h4{
    width: 50%;
    border-radius: 5px;
}
.confirm > .confirm-action{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.confirm .error{
    border: 1px solid lightcoral
}
.confirm .success{
    border: 1px solid lightgreen
}