.foundation-item{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #363636;
    margin:5px;
    padding:5px;
    /*          x   y   blur spread color */
    box-shadow: 2px 3px 2px 4px #131313;    
    border-radius: 5px;
    color: white;
}
.foundation-item h4{
    margin-bottom: 0;
    padding-bottom: 0;
}
.foundation-item:hover{
    color: white;
}
.foundation-item_details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}