.input-text{
    display: flex;
    justify-content: space-between;
    gap:1rem;
    margin:5px;
    padding: 5px 20%;
    align-items: baseline;
}
.input-text label{
    min-width: 8%;
    text-align: start;
}
.input-text input, .input-text textarea{
    width: 60%;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}