.user_item-container {

    background-color: rgba(225, 175, 110, 0.673);
    color: #112233;
    border-radius: 5px;
    width: 90%;
    margin:5px;
    padding:5px;
}

.user_item-container>h4 {
    margin: 2px;
    margin-top: 1px;
    text-align: start;
}

.user_item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user_item-header-text {
    display: flex;
    gap: 5px;
    align-items: center;
    width:90%;
}
.user_item-header-text > p{
    display: inline-block;
    text-align: start;
}
.user_item-header-actions {
    display: flex;
    gap: 5px;
    justify-content: space-around;
}

.user_item-header p {
    margin: 2px;
    margin-bottom: 1px;
}

.user_item-edit{
    cursor: pointer;
}
.user-id{
    width: 5%;
}
.user-name{
    width: 25%;
}
.user-email{
    width: 35%;
    text-align: end !important;
}
.user-isadmin{
    width: 25%;
}
.user-isdisabled{
    width: 10%;
}