#root {
  margin: 0 5%;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
}

.welcome{
  display: flex;
  justify-content: space-between;
}
.welcome-title{
  margin-top: 10px;
  margin-bottom: 5px;
}
.welcome-greeting{
  margin: 5px;
}